<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>SIL Open Font License (OFL)</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Aldone</string>
	<key>openTypeHeadCreated</key>
	<string>2018/04/01 17:56:06</string>
	<key>openTypeNameDesigner</key>
	<string>Pietro Gregorini</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.pietrogregorini.com/</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://scripts.sil.org/OFL</string>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>Aldone-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>500</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
